{%  extends "main.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <p>You are logged in as {{ user }}.</p>
    {% else %}
        <p>You are anonymous.</p>
    {% endif %}

    {% load mptt_tags %}
    <ul>
        {% recursetree comments %}
            <li>
                {{ node.id }}: {{ node.user }}: {{ node.text }}
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>

    <p>
        This is a forum template.
    </p>

    {% if user.is_authenticated %}
        {% include "post-message.html" %}
        <a href="/logout">logout</a>.
    {% else %}
        <a href="/login">login</a>.
    {% endif %}
{% endblock %}
