<form action="/forum/" method="POST">
    <table class="post-message">
        <tr>
            <td><label for="parent">Answer to:</label></td>
            <td><input size="40" type="text" id="parent" name="parent" /></td>
        </tr>
        <tr>
            <td><label for="text">Message:</label></td>
            <td><textarea rows="10" cols="40" id="text" name="text"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" /></td>
        </tr>
    </table>
</form>
